// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left-nav-bar { 
    text-align: right;
    display: inline-block;
}

/* unvisited link */
a:link, a:visited {
    color: black;
    font-size: 20px;
    padding: 15px;
}

/* mouse over link */
a:hover {
    color: #f6dacc;
    font-size: 20px;
}

.main-box-home {
	background-color: #f6dacc;
	height: 440px;
	text-align: center;
	padding-top: 140px;
}

.triple-section {
	font-size: 15px;
	text-align: center;
	padding:50px;
}

