// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#btnOK {
	background-color: #f6dacc;
	padding: 10px 24px;
	font-size: 20px;
	border-radius: 12px;
	border: none;
}


.left-nav-bar { 
    text-align: right;
    display: inline-block;
}

.logo {
	background-image: url(SB-LOGO.png);
	background-repeat: no-repeat;
	background-size: 44px;
	padding-top: 60px;
}

.links-home {
    color: black;
    font-size: 20px;
    padding: 15px;
}

a:link, a:visited {
	color: black;
	padding:15px;
}

/* mouse over link */
a:hover {
    color: #f6dacc;
}

.main-box-home {
	// background-image: url(header-home.png);
	// background-repeat: no-repeat;
	// background-size:cover;
	background-color: #f6dacc;
	padding-bottom: 140px;
	text-align: center;
	padding-top: 140px;
	font-size: 80px;
}

.intro {
	text-align: center;
	font-size: 45px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: url(PALM.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.photo-box {
	height: 340px;
	background-image: url(photoforhome.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.quote {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size:35px;
	text-align: left;
}

.links-to-work {
	padding-top: 65px;
	padding-bottom: 30px;
	font-size:60px;
	text-align: right;
	color: black;
}

.quote-link-box {
	height: 240px;
	background-image: url(white-geo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.skills-row {
	background-image: url(palmbackground.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.skills-title {
	font-size: 60px;
	text-align: center;
	padding: 10px;
}

.skills {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 20px;
  margin-left: -10px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  line-height: 9;
  border-radius: 25px;
  background-color: #292727;
  color: white;
}

#uxresearch {
	background-image: url(uxresearch.svg);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 95px 30px;
}

#prototype {
	background-image: url(prototype.svg);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 95px 30px;
}

#visualdesign {
	background-image: url(visualdesign.svg);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 95px 30px;
}

#rails {
	background-image: url(rails.png);
	background-repeat: no-repeat;
	background-size: 100px;
	background-position: 70px 15px;
}

#js {
	background-image: url(js.svg);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 95px 30px;
}

#css {
	background-image: url(css.svg);
	background-repeat: no-repeat;
	background-size: 80px;
	background-position: 75px 6px;
}

.social-media {
	background-color: grey;
	height:50px;
	text-align: center;
	padding:10px;
	padding-right: 2cm;
}

.footer {
	height: 20px;
	font-size:12px;
	text-align: center;
	padding: 30px;
	background-color: #f6dacc;
}

.portfolio-title {
	text-align: center;
}

.about-background {
	background-color: #f6dacc;
	background-image: url(PALM55.png);
	background-size: no-repeat;
	background-size:cover;
}

.about-title {
	font-size: 90px;
	text-align: center;
}

.about-me {
	font-size: 22px;
	background-color: white;
	text-align: justify;
	margin: 25px;
	padding: 25px;
}

.about-me-picture {
	height:300px;
	background-image: url(about-me.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 20px;
}

.contact-title {
	font-size: 100px;
	background-color: #f6dacc;
	background-image: url(PALM55.png);
	background-size: no-repeat;
	background-size:cover;
	height: 600px;
}