<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container-fluid about-background">
			<div class="about-title col-sm-12">
				<b>Hi, I'm Sofi!</b>
			</div>
			<div class="row">
				<div class="about-me-picture col-sm-12">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="about-me col-sm-8">
					Born & raised in the MIA. 
					<br>
					<br>
					I went to American University for three years pursuing a degree in Business Management. My fourth year I decided to transfer to the University of Miami to complete my degree in International Business Management. Upon graduation, I moved to Barcelona to complete the Ironhack Web Development in August of 2016. I absolutely love to code & definitely want to continue pursuing my career in that field.
					<br>
					<br>
					Now, I am completing the Ironhack UX/UI Course in Miami in order to build more tech skills & have a well-balanced understanding of both the “developer world” and the “designer world”. Looking forward to continue to be a part of this Miami tech ecosystem that is currently growing at an amazing rate. Thank you for visiting my site & checking out my work! Hope you love it!
					<br>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</body>
</html>