<html>
	<head>	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>

		<div class="container-fluid">
			<div class="row">
			    <div class="col-sm-6 logo">
			    </div><!-- logo -->

			    <div class="left-nav-bar col-sm-6 links-home">
			    	<h3>
						<a href="https://www.sofiaborges.co/">PORTFOLIO</a>    <a href="/about">ABOUT</a>    <a href="/contact">CONTACT</a>
					</h3>
			    </div><!-- my links -->
			</div><!-- top bar -->

			<div class="row">
				<div class="col-sm-12 contact-title">
					<b>Reach out to me:
					hello@sofiaborges.co</b>					
				</div>
			</div>

		</div>
	</body>
</html>