<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<h3>
		<a href="/portfolio">PORTFOLIO</a>
	</h3>
	<h3>
		<a href="/about">ABOUT</a>
	</h3>
	<h3>
		<a href="/contact">CONTACT</a>
	</h3>
	<h1>Sofia Borges</h1>
	<h2>Front End Developer & Product Designer</h2>
</head>
</html>