<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="dialog" id="myform">
  <form>
        <label id="valueFromMyButton">
        </label>
        
        <div align="center">
          <h2>Website is still undergoing construction, thanks for your patience!</h2>
          <input type="button" value="Ok, gotcha!" id="btnOK">
        </div>
  </form>
</div>

<body>
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-sm-6 logo">
	    </div><!-- logo -->

	    <div class="left-nav-bar col-sm-6 links-home">
	    	<h3>
				<a href="https://www.sofiaborges.co/">PORTFOLIO</a>    <a href="/about">ABOUT</a>    <a href="/contact">CONTACT</a>
			</h3>
	    </div><!-- my links -->
	  </div><!-- top bar -->

	  <div class="row">
	    <div class="main-box-home col-xs-12">
	    	<b>Hi, I'm Sofia Borges</b>
	    	<h2>UX/UI Designer | Front End Developer | Miami Native</h2>
	    	<!-- h2><i>Failing</i> fast & often to achieve <i>success</i> fast & often</h2> -->
	    </div><!-- title -->
	  </div><!-- main box on home screen -->

	  <div class="row">
	  	<div class="intro col-sm-12">
	  		<i>I like to design & code easy-to-use, <br>beautiful interfaces for web and mobile.</i>
	  	</div>
	  </div><!-- second box on home screen -->

	  <div class="row">
	  	<div class="col-sm-12 photo-box"></div>
	  </div><!-- photo box on home screen -->

	 <!--  <div class="quote-link-box row">
	  	<div class="col-sm-6 quote"><b>"One should aim not at being possible to understand, but at being impossible to misunderstand."</b></div>
	  	<div class="col-sm-6 links-to-work"><a href="https://www.sofiaborges.co/">view my portfolio</a></div>
	  </div> --><!-- quote & links box on home screen -->

	<div class="skills-row">
		<div class="col-sm-12 skills-title">
			<b>Skills</b>
		</div>
		<div class="col-sm-2">
		</div><!--empty space -->
		<div class="skills col-sm-2" id="uxresearch">
			UX Research
		</div>
		<div class="col-sm-1">
		</div><!--empty space -->
		<div class="skills col-sm-2" id="prototype">
			Prototypes
		</div>
		<div class="col-sm-1">
		</div><!--empty space -->
		<div class="skills col-sm-2" id="visualdesign">
			Visual Design
		</div>
		<div class="col-sm-2">
		</div><!--empty space -->
	</div><!-- skills -->

	<div class="skills-row row">
		<!-- <div class="col-sm-2">
		</div> --><!--empty space -->
		<div class="skills col-sm-2" id="rails">
			Ruby on Rails
		</div>
		<div class="col-sm-1">
		</div><!--empty space -->
		<div class="skills col-sm-2" id="js">
			Javascript & jQuery
		</div>
		<div class="col-sm-1">
		</div>
		<div class="skills col-sm-2" id="css">
			CSS & Bootstrap
		</div>
		<div class="col-sm-2">
		</div> <!-- empty space-->
	</div><!-- skills-->

	<div class="row">
		<div class="social-media col-sm-12">
			<a href="https://www.linkedin.com/in/sofiaborgesmiami">
				<img border="0" alt="linkedin" src="https://maxcdn.icons8.com/Share/icon/p1em/Logos//linkedin1600.png" width="30" height="30">
			</a>
			<a href="https://twitter.com/borgessofiaa">
				<img border="0" alt="twitter" src="https://www.seeklogo.net/wp-content/uploads/2015/09/twitter-square-logo.png" width="30" height="30">
			</a>

			<a href="https://github.com/sofiaborges22">
				<img border="0" alt="github" src="http://www.freeiconspng.com/uploads/github-logo-icon-3.png" width="25" height="25">
			</a>

			<a href="https://medium.com/@sofiborges">
				<img border="0" alt="medium" src="https://maxcdn.icons8.com/Android_L/PNG/512/Logos/medium_logo-512.png" width="30" height="30">
			</a>
		</div>
	</div>

	  <div class="row">
	  	<div class="footer col-sm-12"><b>WEBSITE CREATED BY SOFIA BORGES</b></div>
	  </div><!-- footer section 
	</div>
</body>
</html>