<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-sm-6 logo">
	    </div><!-- left controls -->

	

	    <div class="left-nav-bar col-sm-6">
	    	<h3>
				<a href="https://www.sofiaborges.co/">PORTFOLIO</a> <a href="/about">ABOUT</a> <a href="/contact">CONTACT</a>
			</h3>
	    </div><!-- my name -->
	  </div><!-- top bar -->

	  <div class="row">
	    <div class="main-box-home col-sm-12">
	    	<b>Hi, I'm Sofia Borges</b>
	    	<h2>UX/UI Designer | Front End Developer | Miami Native</h2>
	    	<!-- h2><i>Failing</i> fast & often to achieve <i>success</i> fast & often</h2> -->
	    </div><!-- title -->
	  </div><!-- main box on home screen -->

	<div class="row">
		<div class="col-sm-12 bananaleaf"></div>
	</div>

	  <div class="row">
	  	<div class="intro col-sm-12">
	  		<i>I like to design & code easy-to-use, <br>beautiful interfaces for web and mobile.</i>
	  	</div>
	  </div><!-- second box on home screen -->

	  <div class="row">
	  	<div class="col-sm-12 photo-box"></div>
	  </div><!-- photo box on home screen -->

	  <div class="row">
	  	<div class="footer col-sm-12">WEBSITE CREATED BY SOFIA BORGES</div>
	  </div><!-- footer section -->
	</div>
</body>
</html>