<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-sm-3">
	    	<h1>Sofia Borges</h1>
	    </div><!-- left controls -->

	

	    <div class="left-nav-bar col-sm-9">
	    	<h3>
				<a href="/portfolio">PORTFOLIO</a> <a href="/about">ABOUT</a> <a href="/contact">CONTACT</a>
			</h3>
	    </div><!-- my name -->
	  </div><!-- top bar -->

	  <div class="row">
	    <div class="main-box-home col-sm-12">
	    	<h1>UX Designer | Front End Developer | Miami Native</h1>
	    	<h2><i>Failing</i> fast & often to achieve <i>success</i> fast & often</h2>
	    </div><!-- title -->
	  </div><!-- main box on home screen -->

	  <div class="row">
	  	<div class="col-xs-1">
	  	</div>
	    <div class="triple-section col-xs-2">
	    	Sure, your website might look pretty. But pretty isn't everything. My UX Design skills can guarantee that your pretty site is also fully functional with purpose & brand integrity, giving your users that satisfaction.
	    </div><!-- first section -->
		<div class="col-xs-2">
	  	</div>
	    <div class="triple-section col-xs-2">
	    	Let's bring those designs to life and make your website responsive for all types of devices. With coding languages like, Ruby on Rails, Javascript, HTML, CSS, & Bootstrap, the possibilities are endless.
	    </div><!-- second section -->
		<div class="col-xs-2">
	  	</div>
	    <div class="triple-section col-xs-2">
	    	With a business degree, coding skills, and UX/UI design abilities, I'm striving to build this Miami tech ecosystem into something beyond our imaginations.
	    </div>
	    <div class="col-xs-1">
	  	</div><!-- third section -->
	  </div><!-- second box on home screen -->
	</div>
</body>
</html>