<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="portfolio-title col-sm-12">
				<h1>check out my work</h1>
			</div>
		</div>

		<div class="row">
			<div class="hi-fi-trolley col-xs-4">
				
			</div>
			<div class="col-xs-4">
				
			</div>
			<div class="col-xs-4">
				
			</div>
		</div>
		<div class="row">
			
		</div>
		<div class="row">
			
		</div>
	</div>
</body>

</html>